@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #000000;
  --input-label-color: #575767;
  --note-text-color: #575767;
  --checkbox-color: #575767;
  --task-completed-color: #a8a8b4;
  --checkbox-bg: #f8f8f8;
  --checkbox-border-color: #dadada;
  --input-border-color: #ebebeb;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
}
body {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-family: Inter;
}

.span-content {
  color: var(--note-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

label {
  color: var(--input-label-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  margin-bottom: 0 !important;
}

.form-check-input {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--checkbox-border-color);
  background-color: var(--checkbox-bg);
}

.form-check-input:checked {
  border-color: var(--checkbox-border-color);
  background-color: var(--checkbox-bg);
}

.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23575767' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

#todo-input {
  border: none;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}
